# Remove the .php extension from the filename and facilitate serving data over /fetch also rather than only at /fetch.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Set the headers for the restful api
# Tip: Update * to your requesting origin
Header always set Access-Control-Allow-Origin *
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
# Tip: Update the methods you want to allow for your API
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"