@import '~office-ui-fabric-core/dist/css/fabric.min.css';
@import './styles/base.scss';
@import './styles/variables.scss';
@import './utils/theme/light.scss';
@import './utils/theme/dark.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tip: Customize the scrollbar
        or 
        You can completely remove to get the default scrollbar
*/
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: var(--white);
}

*::-webkit-scrollbar-thumb {
  background: var(--neutralTertiary);
  border: 2px solid var(--white);
  border-radius: 24px;
  &:active {
    background: var(--neutralSecondary);
  }
}
